*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uber Move';
}
nav{
    display: flex;
    height: 76px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
nav .logo{
    height: 50px;
    width: 150px;
}
nav .logo img{
    height: 100%;
    width: 100%;
}
nav .main_navigation .nav_mobile .logo_mobile{
    width: 92.91px;
    height: 29.14px;
    display: none;
}
nav .main_navigation .nav_mobile .logo_mobile img{
    height: 100%;
    width: 100%;
    filter: saturate(200%);
}
nav .main_navigation .nav_mobile .mobile_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 50px;
    box-shadow: 30px 30px 50px rgba(0, 115, 236, 0.07);
    border-radius: 43.5px 43.5px 43.5px 43.5px;
    border: 1px solid rgba(0, 115, 236, 0.07);
    background-color: white;
    display: none;
}
nav .main_navigation .nav_mobile .mobile_contact a{
    text-decoration: none;
    color: #040404;
}

nav .main_navigation span{
    margin: 0 10px;
}
nav .main_navigation span a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
nav .main_navigation span .home{
    opacity: .6;
}
nav .main_navigation span .about{
    opacity: .6;
}
nav .main_navigation span .Contact{
    opacity: .6;
}
nav .nav_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 50px;
    box-shadow: 30px 30px 50px rgba(0, 115, 236, 0.07);
    border-radius: 43.5px 43.5px 0px 43.5px;
    border: 1px solid rgba(0, 115, 236, 0.07);
}
nav .nav_contact a{
    text-decoration: none;
    color: #040404;
}
nav .ham{
    position: absolute;
    right: 20px;
    height: 13.35px;
    width: 16.8px;
    cursor: pointer;
    display: none;
}
nav .ham img{
    height: 100%;
    width: 100%;
}
nav .main_navigation .nav_mobile .close_ham{
    display: none;
    opacity: 0;
    pointer-events: none;
}
@media screen and (max-width:810px) {
    nav{
        padding: 20px;
    }
}
@media screen and (max-width:775px) {
    nav .ham{
        display: block;
    }
    nav .main_navigation{
        position: absolute;
        width: 100%;
        background-color: rgb(0, 0, 0,0.5);
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 6;
        backdrop-filter: blur(5px);
        justify-content: flex-start;
        top: -150vh;
        transition: 0.5s;
    }

    nav .main_navigation .nav_mobile{
        display: flex;
        height: 480px;
        width: 100%;
        background-color: black;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        transition: 0.5s;
    }
    nav .main_navigation .nav_mobile .about_mobile span a{
        color: white;
    }
    nav .main_navigation .nav_mobile .about_mobile span{
        margin: 10px 0;
    }
    nav .main_navigation .nav_mobile .about_mobile{
        display: flex;
        flex-direction: column;
    }
    nav .main_navigation .nav_mobile .logo_mobile{
        display: block;
        margin: 40px 0;
    }
    nav .main_navigation .nav_mobile .mobile_contact{
        display: flex;
        margin: 10px 0;
    }
    nav .main_navigation .nav_mobile .about_mobile  span .about{
        opacity: .6;
    }
    nav .main_navigation .nav_mobile .about_mobile  span .Contact{
        opacity: .6;
    }
    nav .main_navigation .nav_mobile .close_ham{
        display: block;
        opacity: 1;
        pointer-events: all;
    }

    nav .nav_contact{
        display: none;
    }
    nav .navAyaGya{
        top: 0;
    }
}




/* manchester airport */


.manchester_airport{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 40px 0;
}

.manchester_airport .manchester_content{
    height: auto;
    width: 450px;
    margin: 50px;
}
.manchester_airport .manchester_content h1{
    color: black;
    font-size: 3rem;
}
.manchester_airport .manchester_content h1 span{
    color: #0073EC;
    position: relative;
}
.manchester_airport .manchester_content h1 span::before{
    content: '';
    height: 3.29px;
    width: 100%;
    background-color: #0073EC;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.manchester_airport .manchester_content .mcc_btns{
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
}
.manchester_airport .manchester_content .mcc_btns .btnOne{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 50px;
    width: 140px;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    background: linear-gradient(117.83deg, #0073EC 20.63%, #2E93FF 86.23%);
    box-shadow: 0px 20px 35px rgba(0, 115, 236, 0.2);
    border-radius: 37px 37px 0px 37px;
    transition:0.3s;
    margin-right: 10px;
}

.manchester_airport .manchester_content .mcc_btns .btnTwo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 50px;
    width: 140px;
    border: none;
    cursor: pointer;
    color: #0073EC;
    text-decoration: none;
    box-shadow: 0px 20px 35px rgba(0, 115, 236, 0.2);
    border-radius: 37px 37px 0px 37px;
    transition:0.3s;
    background-color: #FFFFFF;
    outline: 2px solid #0073EC;
    outline-offset: -2px;
}
.manchester_airport .manchester_image{
    height: 400px;
    width: 550px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}
.manchester_airport .manchester_image img{
    height: 100%;
    width: 100%;
    filter: saturate(200%);
}
.manchester_airport .manchester_image .imgOne{
    z-index: 1;
    width: 70%;
    height: 110%;
}
.manchester_airport .manchester_image .imgTwo{
    position: absolute;
    z-index: 2;
    right: 0;
    height: 85%;
    top: 0;
}
@media screen and (max-width:1060px) {
    .manchester_airport .manchester_content{
        margin: 10px;
    }
    .manchester_airport .manchester_content h1{
        color: black;
        font-size: 2rem;
    }
}
@media screen and (max-width:660px) {
    .manchester_airport{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .manchester_airport .manchester_content{
        margin: 50px 10px;
    }
    .manchester_airport .manchester_image{
        position: relative;
        right: 0;
    }
    .manchester_airport .manchester_content .mcc_btns .btnOne{
        width: 120px;
        height: 40px;
    }
    .manchester_airport .manchester_content .mcc_btns .btnTwo{
        height: 40px;
        width: 120px;
    }

}


/* blog_content */

.blog_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 50px 0;
}






/* .ready_to_call */



.ready_to_call{
    display: flex;
    width: 94%;
    margin: 80px auto;
    border-radius: 20px;
    background: linear-gradient(125.97deg, #0073EC 8.74%, #2E93FF 90.75%);
    box-shadow: 0px 50px 80px rgba(0, 115, 236, 0.08);
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px 20px;
}
.ready_to_call .content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ready_to_call .content h1{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2.5rem;
    flex-wrap: wrap;
}
.ready_to_call .content h1 span::before{
    content: '';
    height: 3.29px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.ready_to_call .content a{
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background: #FFFFFF;
    box-shadow: 30px 30px 50px rgba(255, 207, 23, 0.07);
    border-radius: 37.5px 37.5px 0px 37.5px;
    margin-top: 20px;
    text-decoration: none;
    color: #0073EC;
}
@media screen and (max-width:600px) {
    .ready_to_call .content h1{
        font-size: 2rem;
    }
    .ready_to_call{
        margin: 20px auto;
    }
}


/* footer_one */

.footer_one{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 30px;
    width: 98%;
    color: white;
    background-color: black;
    margin: auto;
    margin-top:50px;
    flex-wrap: wrap;
    border-radius: 10px;
    position: relative;
    padding-bottom: 10px;
}
.footer_one .fo_logo{
    height: 42px;
    width: 146px;
    margin: 0 10px;
}
.footer_one .fo_logo img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:741px) {
    .footer_one{
        justify-content: flex-start;
        padding: 20px 10px;
    }
    .footer_one .fo_logo{
        margin: 40px 10px;
    }
    .footer_one .div{
        width: 100%;
    }
}
.footer_one .footer_two{
    display: flex;
    background-color: white;
    color: black;
    justify-content: center;
    border-radius: 10px;
    width: 97%;
    margin: auto;
    align-items: center;
    padding: 10px 10px;
    margin: 20px auto;
    margin-bottom: 0;
}
.footer_one .footer_two p{
    margin: auto;
    color: black;
}

